// Define variables for your color scheme

// For example:
$primary: rgb(255, 224, 237);
$primary-opacity: rgba(255, 224, 237, 0.6);
$secondary: #F8FFF0;
$light-gray: #F4F4F4;
$dark-gray: #464646;
$black: #000;
