// Define variables for your color scheme

// For example:
$primary: rgb(255, 224, 237);
$primary-opacity: rgba(255, 224, 237, 0.6);
$secondary: rgb(248, 255, 240);
$secondary-opacity: rgba(248, 255, 240, 0.8);
$light-gray: #F4F4F4;
$dark-gray: #464646;
$black: #000;
