// Define variables for your color scheme

// For example:
$primary: rgb(255, 224, 237);
$primary-opacity: rgba(255, 224, 237, 0.6);
$secondary: rgb(236, 251, 219);
// $secondary: rgb(248, 255, 240);
$secondary-opacity: rgba(236, 251, 219, 0.8);
$light-gray: #F4F4F4;
$dark-gray: #565656;
$black: #000;
$black-opacity: rgba(0, 0, 0, 0.4);
$black-light-opacity: rgba(0, 0, 0, 0.1);
$white: rgb(255, 255, 255);
