<div class="banner">
  <div class="container">
    <div class="flex-box-banner">
      <div class="banner-showreel">
        <%= video_tag "showreel/showreel-mini.mp4",
        loop: false, muted: true, controls: true, playsinline: true %>
      </div>

      <div class="banner-text">
        <h1>Bonjour !</h1>
        <p>
          Etudiante en cinéma d'animation 2D, j'ai toujours adoré créer des univers et histoires. 
          Particulièrement intéressée par le concept art et le character design, je cherche un stage en studio d'animation.
        </p>
        <p>
          J'espère que mon portfolio vous plaira, bon visionnage ! :)
        </p>
      </div>
    </div>

  </div>
</div>
