<div class="banner">
  <div class="container">
      <%# <div class="banner-showreel"></div> %>
      <%= video_tag "showreel.mp4", :autoplay => true, controls: true, class: "banner-showreel" %>
    <div class="banner-text">
      <h1>Hello !</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        In lectus rhoncus in tellus scelerisque urna suspendisse. 
        In eros, enim amet, nunc, nulla ut in aliquet dictum. 
      </p>
    </div>
  </div>
</div>
