<div class="banner">
  <div class="container">
    <div class="flex-box-banner">
      <div class="banner-showreel">
        <%= video_tag "showreel/showreel-mini.mp4", autoplay: false, muted: true, 
        loop: false, controls: true, playsinline: true %>
      </div>

      <div class="banner-text">
        <h1>Hello !</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          In lectus rhoncus in tellus scelerisque urna suspendisse. 
          In eros, enim amet, nunc, nulla ut in aliquet dictum. 
        </p>
      </div>
    </div>

  </div>
</div>
