<div class="contact-block">
  <div class="contact-email">
    <%# <i class="far fa-envelope"></i> %>
    <p class="p-email">
      emma.hocquet@gmail.com
    </p>
  </div>
  <div class="contact-links">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin"></i>
  </div>
</div>
