<div class="grid-container">

  <% @works.each do |work| %>
    <% main_image = work.images.filter { |x| x.main } %>
    <% main_image = main_image.first %>

    <div class= "w-<%= main_image.format.to_s %>" >
      <%= image_tag main_image.path %>
      <div class="hover-title">
        <p><%= work.title %></p>
      </div>
    </div>

  <% end %>
</div>