<div class="menu-fixed-container vh100">

    <div class="close-menu-icon">
      <i class="fas fa-times"></i>
    </div>
    <div class="menu-links">

      <%= link_to root_path do %>
        <h2>Home</h2>
      <% end %>
      <% @categories.each do |category| %>
        <%= link_to category_show_path(id: category) do %>
          <h2><%= category.name %></h2>
        <% end %>

      <% end %>
    </div>
    <%= render 'shared/contact' %>

</div>