<div class="navbar-container">
  <div class="logo-title">
    <p class="p-logo-title">
      Emma Hocquet
    </p>
  </div>
  <div class="burger-icon">
    <i class="fas fa-bars"></i>
  </div>
  <div class="social-links">
    <%= link_to 'https://www.instagram.com/emma.hocq/', target: "_blank" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to 'https://www.linkedin.com/in/emma-hocquet-761398205/', target: "_blank" do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
  </div>
</div>