<div class="navbar-container">
  <div class="logo-title">
    <p class="p-logo-title">
      Emma Hocquet
    </p>
  </div>
  <div class="burger-icon">
    <i class="fas fa-bars"></i>
  </div>
  <div class="social-links">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin"></i>
  </div>
</div>