<% images = @work.images %>

<div class="slideshow-container">

  <%# full width images with numbers %>
  <% images.each_with_index do |image, index| %>
    <div class="mySlides fade">
      <% unless images.length <= 1 %>
        <div class="numberText"> <p><%= "#{(index + 1).to_s} / #{images.count.to_s}" %></p></div>
      <% end %>
      
      <% if image.file_type == 0 %>
        <%= image_tag image.path %>
      <% elsif image.file_type == 1 %>
        <%= video_tag image.path, loop: true,
        controls: true %>
      <% end %>
      
    </div>
  <% end %>

  <%# next and previous buttons %>
  <% unless images.length <= 1 %>
    <div class="btnPrev" ><i class="fas fa-chevron-left"></i></div>
    <div class="btnNext" ><i class="fas fa-chevron-right"></i></div>
  <% end %>
</div>