<div class="slideshow-container">

  <%# full width images with numbers %>
  <div class="mySlides fade">
    <div class="numberText">1 / 3</div>
    <%= image_tag images.first.path, style: 'width:100%' %>
  </div>

</div>