.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), asset-url('concept_decor/concept_decor_concept_colored_bridge-mini.jpg');
  // width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  // display flex
  .flex-box-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-grow: 1;
    // align-items: end;
  }
  .container {
    display: flex;
    align-items: center;
  }
}


.banner-showreel {
  flex: 5 1 auto;
  width: 560px;
  height: fit-content;
  // box-shadow: 4px 2px 8px $black;
  // border-radius: 4px;
  // align-self: end;
  max-width: 900px;
  video {
    width: 100%;
    height: auto;
    box-shadow: 4px 2px 8px #000;
    border-radius: 4px;
  }
}

.banner-text {
  width: 300px;
  max-width: 400px;
  color: $light-gray;
  flex: 1 1 auto;
  padding: 0 24px;
  // align-self: start;

}

@media screen and (max-width: 1000px) {
  .banner-text {
    padding: 0;
    margin: 24px 0 0 0;
    width: 240px;
    max-width: none;
  }
}

@media screen and (max-width: 600px) {
  .banner-showreel {
    width: 320px;
  }
}

@media (orientation: landscape) {
  .banner-showreel {
    width: 320px;
    align-self: center;
  }
  .banner-text {
    align-self: center;
    margin-right: 8px;
  }
}

// Banner category
.banner-category {
  position: relative;
  display: flex;
  img {
    width: 100vw;
    height: 100vh;
    object-position: center;
    object-fit: cover;
  }
  .gradient-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black-opacity;
  }
}

.category-name {
  .big-letters {
    color: $white;
  }
  div {
    background-color: $primary;
    height: 8px;
    width: 100px;
    margin: 8px auto;
  }
  
}