.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), asset-url('concept_decor/concept_decor_concept_colored_bridge-mini.jpg');
  // width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  // display flex
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    // IOS compatibility
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -webkit-flex-direction: row-reverse;
  }
}


.banner-showreel {
  flex: 5 1 auto;
  width: 560px;
  box-shadow: 4px 2px 8px $black;
  border-radius: 4px;
  align-self: end;
  max-width: 900px;
  // IOS compatibility
  -webkit-flex-align-self: end;
}

.banner-text {
  width: 300px;
  max-width: 400px;
  color: $light-gray;
  flex: 1 1 auto;
  padding: 0 24px;
  align-self: start;
  // IOS compatibility
  -webkit-flex-align-self: start;
  -webkit-flex-flex: 1 1 auto;
}

@media screen and (max-width: 1000px) {
  .banner-text {
    padding: 0;
    margin: 24px 0 0 0;
    max-width: none;
  }
}

@media screen and (max-width: 600px) {
  .banner-showreel {
    width: 320px;
  }
}

@media (orientation: landscape) {
  .banner-showreel {
    // max-height: 80vh;
    // margin-top: 60px;
    width: 320px;
    align-self: center;
    // IOS compatibility
    -webkit-flex-align-self: center;
  }
  .banner-text {
    align-self: center;
    // IOS compatibility
    -webkit-flex-align-self: center;
  }
}