.contact-block {
  width: 240px;
  margin: 20px auto;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  i {
    margin: 0 8px;
    font-size: 24px;
  }
}

.contact-links {
  display: flex;
  a {
    text-decoration: none;
    color: $black;
  }
  a:hover {
    color: $primary;
  }
}

.contact-email {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .contact-block {
    margin-top: 100px;
    i {
      margin: 0 16px;
      font-size: 40px;
    }
  }
}