.menu-fixed-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: $primary;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;

  .close-menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    padding: 20px;
    cursor: pointer;
  }

  .contact-block {
    margin-bottom: 60px;
  }
}

.menu-links {
  margin-top: 60px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  a {
    text-decoration: none;
    color: $black;
  }
  h2 {
    margin: 0;
  }
}

@media screen and (min-width: 900px){
  .menu-fixed-container {
    width: 500px;
  }
  .menu-links {
    margin-top: 80px;
  }
  .contact-block {
    margin-top: 0;
  }
}

