/* Slideshow container */
.profiler-button, .profiler-totals {display: none !important;}
.slideshow-container {
  width:100%;
  position: relative;
  .close-work-show-icon {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 14px 20px;
    font-size: 20px;
    cursor: pointer;
    color: $secondary-opacity;
  }
}

/* Number text (1/3 etc) */
.numberText {
  color: $secondary-opacity;
  font-size: 12px;
  padding: 14px 20px;
  position: absolute;
  top: 0;
  z-index: 10;
  p {
    margin: 0;
  }
}

/* Hide the images by default */
.mySlides {
  height: 85vh;
  background-color: $black;
  display: none;
  img, video {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: auto;
  }
}




/* Next & previous buttons */
.btnPrev, .btnNext {
  cursor: pointer;
  position: absolute;
  width: auto;
  // margin-top: -22px;
  padding: 0 24px;
  background-color: rgba(0,0,0,0.1);
  color: $secondary-opacity;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  height: 85vh;
  top: 0;
  display: flex;
  align-items: center;
}

/* Position the "next button" to the right */
.btnNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

@media screen and (max-width: 900px) and (orientation: landscape) {
  .mySlides, .btnPrev, .btnNext { height: 80vh };
}
@media screen and (max-width: 900px) and (orientation: portrait) {
  .mySlides, .btnPrev, .btnNext { height: 60vh };
}
@media screen and (min-width: 900px) {
  .slideshow-container {
    .close-work-show-icon, .numberText {
      padding: 20px;
    }
  }
  .btnPrev:hover, .btnNext:hover {
    background-color: rgba(0,0,0,0.6);
  }
}

/* Fading animation */
// .fade {
//   // -webkit-animation-name: slide;
//   -webkit-animation-duration: 1.5s;
//   // animation-name: slide;
//   animation-duration: 1.5s;
// }

// @-webkit-keyframes fade {
//   from {opacity: .4}
//   to {opacity: 1}
// }

// @keyframes fade {
//   from {opacity: .4}
//   to {opacity: 1}
// }