/* Slideshow container */
.slideshow-container {
  width:100%;
  position: relative;
  .close-work-show-icon {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    font-size: 20px;
    cursor: pointer;
    color: $secondary-opacity;
    background-color: $black-opacity;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 8px;
  }
}

/* Number text (1/3 etc) */
.numberText {
  color: $secondary-opacity;
  font-size: 12px;
  padding: 8px 16px;
  position: absolute;
  top: 0;
  border-radius: 0 0 4px 0;
  // margin: 8px;
  background-color: $black-opacity;
  z-index: 10;
  p {
    margin: 0;
  }
}

/* Hide the images by default */
.mySlides {
  height: 85vh;
  background-color: $black;
  display: none;
  img, video {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
  }
}




/* Next & previous buttons */
.btnPrev, .btnNext {
  cursor: pointer;
  position: absolute;
  background-color: $black-opacity;
  color: $secondary-opacity;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin: 8px;
}

/* Position the "next button" to the right */
.btnNext {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */

@media screen and (max-width: 900px) and (orientation: landscape) {
  .mySlides { height: 80vh };
}
@media screen and (max-width: 900px) and (orientation: portrait) {
  .mySlides { height: 60vh };
}
@media screen and (min-width: 900px) {
  .slideshow-container {
    .btnPrev:hover, .btnNext:hover, .close-work-show-icon:hover {
      background-color: $black;
    }
    .btnPrev, .btnNext, .close-work-show-icon {
      margin: 16px;
      width: 60px;
      height: 60px;
      font-size: 24px;
    }
    .mySlides {
      video {
        height: 100%;
      }
    }
  }
}

/* Fading animation */
// .fade {
//   // -webkit-animation-name: slide;
//   -webkit-animation-duration: 1.5s;
//   // animation-name: slide;
//   animation-duration: 1.5s;
// }

// @-webkit-keyframes fade {
//   from {opacity: .4}
//   to {opacity: 1}
// }

// @keyframes fade {
//   from {opacity: .4}
//   to {opacity: 1}
// }