// Graphical variables
@import "config/fonts";
@import "config/colors";
// @import "config/bootstrap_variables";

// External libraries
// @import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Reset css
html, body {
  margin: 0;
  padding: 0;
}

// Global style
body {
  background-color: $secondary;
}

h1, h2, h3, p {
  font-family: $headers-font;
}

.container {
  padding: 0 10vw;
  min-height: 100%;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0 36px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 0 16px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 8px;
  }
}
