<% category_image = @category.works.first.images.filter { |x| x.main } %>
<% category_image = category_image.first %>


<%= render 'shared/navbar' %>
<%= render 'shared/menu' %>

<div class="banner-category"> 
<%= image_tag category_image.path %>
  <div class="gradient-overlay">
    <div class="category-name">
      <h1 class="big-letters"><%= @category.name %></h1>
      <div></div>
    </div>
  </div>
</div>